-- Create necessary tables for Stock Pulse application (simplified version)

-- Prediction History Table
CREATE TABLE IF NOT EXISTS prediction_history (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  symbol TEXT NOT NULL,
  prediction TEXT NOT NULL CHECK (prediction IN ('bullish', 'bearish', 'neutral')),
  confidence DECIMAL(3,2) NOT NULL CHECK (confidence >= 0 AND confidence <= 1),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  was_accurate BOOLEAN,
  actual_outcome TEXT,
  price_at_prediction DECIMAL(10,2),
  price_change_percent DECIMAL(5,2),
  factors JSONB,
  risk_level TEXT,
  sentiment_momentum TEXT
);

-- Price Alerts Table
CREATE TABLE IF NOT EXISTS price_alerts (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  symbol TEXT NOT NULL,
  target_price DECIMAL(10,2) NOT NULL,
  alert_type TEXT NOT NULL CHECK (alert_type IN ('above', 'below')),
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  triggered_at TIMESTAMP WITH TIME ZONE
);

-- Create Indexes
CREATE INDEX IF NOT EXISTS idx_prediction_history_symbol_created ON prediction_history(symbol, created_at DESC);
CREATE INDEX IF NOT EXISTS idx_price_alerts_active ON price_alerts(is_active, created_at);
